# --- Base de datos (SQLite) ---
*.db
*.sqlite3
# Si quieres guardar la estructura de la DB pero no los datos, ignora esto

# --- Logs y OS ---
*.log
.DS_Store

# --- Scripts Bash y demás pruebas ---
ignore/

# --- Configuración de IDEs ---
.vscode